body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background: url('images/floresta.png')  no-repeat;
  background-color: rgb(159, 8, 8);
  background-size: cover;
  background-position: center;
  
  
  
}

.container-application {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-application img{
  width: 350px;
}


button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#track-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
}


#previous, #next {
  font-size: 3rem;
}

#play-pause {
  font-size: 4rem;
}

#container-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.florest {
  position: absolute;
  top: 10%;
  align-items: center;

}